<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1069316679916-ql927h8io72q30vsmbu1chqv45t1tfsl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1069316679916-ql927h8io72q30vsmbu1chqv45t1tfsl</string>
	<key>API_KEY</key>
	<string>AIzaSyCi6rN2DPs56lGx_8Hjx9d20hFjOOEjedI</string>
	<key>GCM_SENDER_ID</key>
	<string>1069316679916</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.hobby</string>
	<key>PROJECT_ID</key>
	<string>hobby-8e3fc</string>
	<key>STORAGE_BUCKET</key>
	<string>hobby-8e3fc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1069316679916:ios:435e60a519bd96ac261dc9</string>
</dict>
</plist>